#sec1 {
    padding: 150px;
    background-image:url("/img/bg.jpg");
    min-height: 600px;
    color: #fff;
    margin-bottom: 80px;
}

#sec1 h1 {
  font-size: 36pt;
}

#sec2 h2 {
  font-size: 30pt;
}

.about-heading {
  margin-bottom: 50px;
}

body {
  padding-top: 40px;
  font-size: 18px;
}

.navbar-brand {
}

.gradient-overlay {
    background: -webkit-linear-gradient(90deg,rgba(0,0,0,.85) 3%,rgba(19,19,19,.85) 14%,rgba(219,219,219,0) 80%,rgba(255,255,255,0) 90%);
    background: linear-gradient(0deg,rgba(0,0,0,.85) 3%,rgba(19,19,19,.85) 14%,rgba(219,219,219,0) 80%,rgba(255,255,255,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000', GradientType=0);
    min-height: 400px;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  background-color: #fff;
}

.panel-green {
  border-color:green;
}
.panel-green > .panel-heading {
    color: #ffffff;
    background-color: green;
    border-color: green;
}

.panel-yellow {
  border-color:#F9C542;
}
.panel-yellow > .panel-heading {
    color: #ffffff;
    background-color: #F9C542;
    border-color: #F9C542;
}

.push-bottom {
  margin-bottom: 60px;
}
