@import "variables";

@import "https://fonts.googleapis.com/css?family=Roboto";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

* {
    font-family: 'Roboto', sans-serif;
}

.navbar-custom {
    background-color: white;
    border-bottom: 1px solid $primary-color;
    min-height: 78px;

    a {
        color: $primary-color;
        font-size: 1.2em;
    }

    .navbar-right {
      padding-top: 14px;
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus {
    background-color: white;
    color: $primary-color-alt;
}

.panel-green {
   border-color: green; 
   .panel-heading {
       background-color: green;
       color: white;
   }
}

.panel-yellow {
   border-color: $accent-color; 
   .panel-heading {
       background-color: $accent-color;
       color: white;
   }
}

.form-inline {
  
  .form-control,
  label {
    margin-right: 10px;
  }
}